@font-face {
  font-family: 'icomoon';
  src:  url('@/static/iconfont/fonts/icomoon.eot?r60kof');
  src:  url('@/static/iconfont/fonts/icomoon.eot?r60kof#iefix') format('embedded-opentype'),
    url('@/static/iconfont/fonts/icomoon.ttf?r60kof') format('truetype'),
    url('@/static/iconfont/fonts/icomoon.woff?r60kof') format('woff'),
    url('@/static/iconfont/fonts/icomoon.svg?r60kof#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  color: inherit;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* 日历 */
.icon-appointment:before {
  content: "\e900";
}
/* 实心人头 */
.icon-broker:before {
  content: "\e901";
}
.icon-camera:before {
  content: "\e902";
}
.icon-cart:before {
  content: "\e903";
}
.icon-clock:before {
  content: "\e904";
}
.icon-clock-fill:before {
  content: "\e905";
}
.icon-close:before {
  content: "\e906";
}
.icon-close-circle:before {
  content: "\e907";
}
.icon-close-fill:before {
  content: "\e908";
}
/* 五角星 */
.icon-collect:before {
  content: "\e909";
}
.icon-collect-fill:before {
  content: "\e90a";
}
.icon-delete:before {
  content: "\e90b";
}
.icon-down:before {
  content: "\e90c";
}
.icon-eyes:before {
  content: "\e90d";
}
.icon-gift:before {
  content: "\e90e";
}
.icon-heart:before {
  content: "\e90f";
}
.icon-heart-fill:before {
  content: "\e910";
}
.icon-image:before {
  content: "\e911";
}
.icon-left:before {
  content: "\e912";
}
.icon-list:before {
  content: "\e913";
}
.icon-list_grid:before {
  content: "\e914";
}
.icon-location:before {
  content: "\e915";
}
.icon-lock:before {
  content: "\e916";
}
.icon-man:before {
  content: "\e917";
}
.icon-message-fill:before {
  content: "\e918";
}
.icon-minus:before {
  content: "\e919";
}
.icon-minus-circle:before {
  content: "\e91a";
}
.icon-minus-fill:before {
  content: "\e91b";
}
.icon-more:before {
  content: "\e91c";
}
/* 身份证 */
.icon-name-card:before {
  content: "\e91d";
}
.icon-order:before {
  content: "\e91e";
}
.icon-order-down:before {
  content: "\e91f";
}
.icon-order-up:before {
  content: "\e920";
}
.icon-phone:before {
  content: "\e921";
}
.icon-phone-fill:before {
  content: "\e922";
}
.icon-player:before {
  content: "\e923";
}
.icon-plus:before {
  content: "\e924";
}
.icon-plus-circle:before {
  content: "\e925";
}
.icon-plus-fill:before {
  content: "\e926";
}
.icon-pwd:before {
  content: "\e927";
}
.icon-record:before {
  content: "\e928";
}
.icon-right:before {
  content: "\e929";
}
.icon-search:before {
  content: "\e92a";
}
.icon-setting:before {
  content: "\e92b";
}
.icon-up:before {
  content: "\e92c";
}
.icon-setting:before {
  content: "\e92d";
}
.icon-VR:before {
  content: "\e92e";
}
.icon-windows:before {
  content: "\e92f";
}
.icon-woman:before {
  content: "\e930";
}
.icon-yes:before {
  content: "\e931";
}
.icon-yes1:before {
  content: "\e932";
}
.icon-yes-fill:before {
  content: "\e933";
}
