// 全局样式文件

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.flex-item-center {
	display: flex;
	align-items: center;
}
.flex-between-center {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.flex-cloumn-between {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.flex-cloumn-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.flex-cloumn-item-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.flex-cloumn-center-between {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}
.app-contair {
	width: 100%;
	height: 100%;
}
.text-flow {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.more-text-flow {
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 3;
	overflow: hidden;
}
.contair {
	width: 100%;
	height: 100%;
}
.status_bar {
	height: var(--status-bar-height);
	width: 100%;
}
.oneoo-width {
	width: 100%;
}
.oneoo-height {
	height: 100%;
}
.flex-column-height {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.flex-1 {
	flex: 1;
}

.flex {
	display: flex;
	align-items: center;

	&-row {
		flex-direction: row;
	}

	&-rowReverse {
		flex-direction: row-reverse;
	}

	&-col {
		flex-direction: column;
	}

	&-colReverse {
		flex-direction: column-reverse;
	}

	&-middle {
		align-items: center;
	}

	&-top {
		align-items: flex-start;
		&-self {
			align-self: flex-start;
		}
	}

	&-bottom {
		align-items: flex-end;
		&-self {
			align-self: flex-end;
		}
	}

	&-between {
		justify-content: space-between;
	}

	&-around {
		justify-content: space-around;
	}

	&-center {
		justify-content: center;
	}

	&-start {
		justify-content: flex-start;
		&-self {
			justify-self: flex-start;
		}
	}

	&-end {
		justify-content: flex-end;
		&-self {
			justify-self: flex-end;
		}
	}
	&-wrap {
		flex-wrap: wrap;
	}
	&-nowrap {
		flex-wrap: nowrap;
	}
}

// 循环字体大小
@for $i from 12 through 40 {
	.fs-#{$i} {
		font-size: (1rpx * $i);
	}
}

.fw-bold {
	font-weight: bold;
}

.fw-normal {
	font-weight: normal;
}

// margin | padding
@for $i from 0 through 100 {
	.pa-#{$i} {
		padding: (1rpx * $i);
	}
	.pt-#{$i} {
		padding-top: (1rpx * $i);
	}
	.pr-#{$i} {
		padding-right: (1rpx * $i);
	}
	.pb-#{$i} {
		padding-bottom: (1rpx * $i);
	}
	.pl-#{$i} {
		padding-left: (1rpx * $i);
	}
	.ma-#{$i} {
		margin: (1rpx * $i);
	}
	.mt-#{$i} {
		margin-top: (1rpx * $i);
	}
	.mr-#{$i} {
		margin-right: (1rpx * $i);
	}
	.mb-#{$i} {
		margin-bottom: (1rpx * $i);
	}
	.ml-#{$i} {
		margin-left: (1rpx * $i);
	}
	.br-#{$i} {
		border-radius: (1rpx * $i);
	}
}

.br-p50 {
	border-radius: 50%;
}

@for $i from 1 through 100 {
	// 长度百分比
	.wp-#{$i} {
		width: (1% * $i);
	}
	.w-#{$i} {
		width: (5rpx * $i);
	}
	.h-#{$i} {
		height: (5rpx * $i);
	}
	.wh-#{$i} {
		width: (1rpx * $i);
		height: (1rpx * $i);
	}
}

.hp-100 {
	height: 100%;
}

.hp-50 {
	height: 50%;
}

.primary-color {
	color: $themeColor;
}

.gray-color {
	color: $grayColor;
}

.primary-btn {
	background: $themeColor;
	border-radius: 28rpx;
	font-size: 24rpx;
	color: #fff;
	margin: 0;
	height: 50rpx;
	line-height: 50rpx;
}

.border-bottom {
	border-bottom: 1rpx solid $border-color;
}
.border-top {
	border-top: 1rpx solid $border-color;
}

.border-left {
	border-left: 1rpx solid $border-color;
}
.border-right {
	border-right: 1rpx solid $border-color;
}

.card {
	background: #ffffff;
	box-shadow: 0rpx 5rpx 8rpx 0rpx rgba(216, 215, 215, 0.36);
	border-radius: 20rpx;
}

.btn-shadow {
	background: #fe6a1c;
	box-shadow: 9rpx 9rpx 35rpx 0rpx rgba(254, 106, 28, 0.4);
	border-radius: 35rpx;
}

.clear-m {
	&::before {
		content: '';
		display: table;
	}
}
